* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #2d2d45;
  overflow: scroll;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
}

button {
  font-family: "Nanum Gothic", sans-serif;
  cursor: pointer;
  text-transform: uppercase;
  padding: 10px 20px 10px 20px;
  border: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100px;
  background-color: #2d2d45 0.5;
}
header .header_left a img {
  width: 70%;
  margin: 10px;
  padding-left: 45px;
  padding-top: 5px;
}
header .hamburger {
  color: #fefefe;
  padding: 50px 20px 50px 20px;
  width: 60%;
}

main {
  width: 100%;
  height: calc(100% - 560px);
}
main #main_top {
  height: 100vh;
  width: 100%;
  background-image: url("../img/home_slider.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
main #main_top .header_title {
  color: #fefefe;
}
main #main_top .header_title h1 {
  font-size: 100px;
}
main #main_top .header_title p {
  font-family: "Fraunces", serif;
  font-size: 20px;
  padding: 20px;
}
main #main_top #header_button button {
  margin: 30px 5px 30px 5px;
}
main #main_top .button_pink {
  background-color: #ea4a56;
  color: #fefefe;
}
main #main_top .button_pink:hover {
  background-color: #fefefe;
  color: black;
}
main #main_top .button_white {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #fefefe;
  color: #fefefe;
}
main #main_top .button_white:hover {
  background-color: #fefefe;
  color: black;
}

footer {
  width: 100%;
  height: 460px;
  background-color: black 0.5;
}

.container {
  width: 100%;
  height: 100vh;
}
