header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  height: $headerHeight;
  background-color: $headerGrey 0.5;

  .header_left a img{
    width: 70%;
    margin: 10px;
    padding-left: 45px;
    padding-top: 5px;
  }
  .header_right a i{
    color: #fefefe;
    padding-right: 50px;
    margin:5px;
  }
}
