header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  height: $headerHeight;
  background-color: $headerGrey 0.5;

  .header_left a img{
    width: 70%;
    margin: 10px;
    padding-left: 45px;
    padding-top: 5px;
  }
  .hamburger{
    color: #fefefe;
    margin: 60px 20px 60px 20px;
    width: 50%;
  }
}
