main{
  width: 100%;
  height: calc(100% - #{$headerHeight + $footerHeight});
 // MAIN TOP
  #main_top{
    height: 100vh;
    width: 100%;
    background-image: url('../img/home_slider.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align:center;
    .header_title{
      color: #fefefe;
    }
    .header_title h1{
      font-size: 100px;
    }
    .header_title p{
      font-family: 'Fraunces', serif;
      font-size: 20px;
      padding: 20px;
    }
    #header_button button{
      margin: 30px 5px 30px 5px;
    }
    .button_pink{
      background-color: #ea4a56;
      color: #fefefe;
      &:hover{
        background-color: #fefefe;
        color: black;
      }
    }
    .button_white{
      background-color: rgba(0, 0, 0, 0);
      border: 1px solid #fefefe;
      color: #fefefe;
      &:hover{
        background-color: #fefefe;
        color: black;
      }
    }
  }
 // /MAIN TOP

    // main MUSIC IS LIFE
  #main_music_is_life{
    height: 370px;
    width: 100%;
    background-color: #323844;
    color: #fefefe;

    .main_music_is_life-text{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding-top: 30px;
    }
    .main_music_is_life-text h2{
      font-size: 60px;
      padding: 25px;
    }
    .blu_line{
      width: 300px;
      height: 2px;
      background-color: #7780a4;
      margin-bottom: 40px;
    }
    .main_music_is_life-text p{
      color: #737376;
    }
    .pink_box{
      width: 500px;
      height: 15px;
      background-color: #ea4a56;
      top: 0;
      margin-left: 470px;;
    }
  }

    // /main MUSIC IS LIFE
}
